@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-family: IBM Plex Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 425;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #2a1b35;
  --button-color: #5d396b;
  --text-color: #dfe3ff;
  --shadow-color: #c67ed4;
  --positive-color: #2c3a2f;
  --active-color: #ca6ea7;
}

:dir(rtl) {
  font-family: IBM Plex Sans Arabic, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-size: 200px;
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: url("/shapes-light.svg");
  background-blend-mode: lighten;
}

main {
  width: 100%;
  max-width: 1280px;
  padding: 2em;
  flex: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.complete {
  animation: fade-in 3s;
  position: relative;
  top: 25vh;
}

.root a {
  font-weight: 500;
  color: #222225;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 300px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 800;
  text-transform: lowercase;
  letter-spacing: -0.025em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 425;
  font-family: inherit;
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--active-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  padding: 1em 1em;
}

header a {
  display: inline-block;
  height: 100%;
}

header a .logo {
  height: 100%;
  width: fit-content;
}

menu {
  display: flex;
  align-items: center;
  margin: 0;
  height: 3em;
}

menu li {
  display: flex;
  list-style: none;
  width: fit-content;
  height: 100%;
}

menu li a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 0.25em;
  border-bottom: 3px solid transparent;
}

menu li a.active {
  border-bottom: 3px solid var(--active-color);
}

.active .logo {
  color: var(--active-color);
}

menu .options {
  margin: 0 0.25em;
  display: flex;
}

header .options {
  margin: 0 0.5em;
  display: flex;
  height: 100%;
  align-items: center;
}

header .options li {
  margin: 0 0.25em;
}

header .options button {
  height: 32px;
  width: 32px;
  padding: 5px;
}

header h1 {
  margin: 0.5em;
}

.canvas {
  border-radius: 24px;
  height: 300px;
  width: 300px;
  border-bottom: 8px solid var(--shadow-color);
  max-width: 100%;
  margin: 0 auto;
}

.tl-background {
  border-radius: 16px;
}

.tl-container__focused {
  outline: unset;
}

.toolbar {
  margin: 1em -0.25em;
}

.toolbar button {
  margin: 0 0.25em;
}

.prediction {
  font-size: 3em;
}

.action-area {
  display: flex;
  max-width: 700px;
  margin: 3em auto;
}

.results-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  flex: 1;
}

.stopwatch {
  font-variant-numeric: tabular-nums;
  font-size: 1.25em;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5em;
  margin: 2em;
  justify-content: center;

  height: fit-content;
  width: fit-content;
  flex-wrap: wrap;
}

.tile {
  font-size: 1.5em;
  height: 3ch;
  width: 3ch;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  border-radius: 4px;
}

@keyframes show-letter {
  0% {
    background-color: var(--bg-color);
    color: transparent;
  }
  100% {
    background-color: var(--positive-color);
    color: var(--text-color);
  }
}

.found {
  background-color: var(--positive-color);
  animation: show-letter 1s;
}

.hidden-error {
  visibility: hidden;
}

.flex {
  display: flex;
  max-width: 100%;
  height: fit-content;
  align-items: center;
  flex: 0;
}

.modes {
  margin: 3em 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.mode {
  background: var(--button-color);
  display: flex;
  border-bottom: 8px solid var(--shadow-color);
  text-decoration: none;
  max-width: 520px;
  width: 100%;
  text-align: left;
  border-radius: 32px;
  margin-bottom: 1.5em;
  color: var(--text-color);
}

a.mode:hover {
  color: var(--text-color);
  background-color: var(--active-color);
}

.mode .text h2 {
  margin: 0;
}

.mode .text p {
  margin: 0.5em 0 0 0;
}

.mode .text {
  display: flex;
  flex-direction: column;
  padding: 2em 2em 2em 0;
  justify-content: center;
}

.mode .emoji {
  font-size: 4em;
  border-radius: 16px;
  margin: 24px;
  width: fit-content;
  justify-content: center;
  text-shadow: 10px var(--shadow-color);
  display: flex;
  align-items: center;
}

.intro {
  height: fit-content;
  text-wrap: balance;
  padding: 2em 1em;
  flex: 1;
}

.intro .logo {
  max-width: 300px;
}

.info {
  background-color: #1d1d1d;
  width: fit-content;
  padding: 2em;
  margin: 0 auto;
  border-radius: 1em;
  text-wrap: balance;
}

.info button {
  margin: 0.5em;
}

.info h2 {
  margin-top: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #dfe3ff;
    --button-color: #e6cdef;
    --text-color: #1d082c;
    --shadow-color: #1d082c;
    --positive-color: #ecfdf0;
  }

  #root {
    background-image: url("/shapes-dark.svg");
    background-blend-mode: darken;
  }

  a:hover {
    color: var(--active-color);
  }

  button {
    background-color: var(--button-color);
    border-bottom: 2px solid var(--shadow-color);
  }

  .tile,
  .info {
    background-color: #ffffff;
  }
}

@media (max-width: 786px) {
  main {
    padding: 0.5em 2em;
  }

  .canvas {
    height: 240px;
    width: 240px;
  }

  menu {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 0;
    position: absolute;
    right: 0;
    top: 5em;
    z-index: 250;
    flex-direction: column;
  }

  header.menu-open,
  .menu-open menu {
    background-color: var(--bg-color);
  }

  menu li {
    flex-direction: row;
    width: 100%;
    height: fit-content;
  }

  menu li a {
    width: 100%;
    background: none;
    margin: 0;
    padding: 0.5em;
    justify-content: center;
  }

  menu li a:hover {
    background: var(--active-color);
    color: var(--text-color);
  }

  menu li a,
  menu li a.active {
    border-bottom: none;
  }

  .action-area {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .toolbar {
    margin: 1em;
  }

  .board {
    margin: 0;
  }

  .tile {
    font-size: 1.25em;
  }

  .flex {
    flex-direction: column;
  }

  .mode {
    margin-bottom: 1em;
  }

  .mode h2 {
    font-size: 1.25em;
  }

  .intro {
    flex: 0;
    padding: 2em 0 1em 0;
  }

  .intro .logo {
    max-height: 100px;
  }

  .modes {
    margin: 0;
  }

  .mode .emoji {
    font-size: 3em;
    margin: 16px;
  }

  .mode .text {
    padding: 1em 2em 1.5em 0;
  }

  .mode .text p {
    font-size: 0.875em;
  }
}

@media (prefers-reduced-motion: reduce) {
  .found,
  .complete {
    animation: none;
  }
}
